# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Postgres
*.sql.bak

# Node / Jest
node_modules/
.coverage
tests/n8n/tests/
